/*
The CSS code gets to executed from top to bottom and left ro right
Basic rules to write CSS
- write GENERAL rules first (for all the paragraph tags in the website for example) and only after that write CSS for SPECIFIC tags (for example the paragraph tags inside the footer)
- write the css styles to define for the parent (outside) container and THEN the children (inside containers) of that parent and THEN the children (inside containers) of the child above
*/

/* -------------------------------------
CSS reset
Is a short set of CSS rules that resets the styling of all HTML elements to a consistent baseline so the website will look the same on all browsers
*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
    /*reset Firefox user agent styles*/
    -moz-margin-before: 0px;
    -moz-margin-after: 0px;
    -moz-margin-start: 0px;
    -moz-margin-end: 0px;
    -moz-padding-before: 0px;
    -moz-padding-after: 0px;
    -moz-padding-start: 0px;
    -moz-padding-end: 0px;
    /*reset Internet Explorer user agent styles*/
    -ms-margin-before: 0px;
    -ms-margin-after: 0px;
    -ms-margin-start: 0px;
    -ms-margin-end: 0px;
    -ms-padding-before: 0px;
    -ms-padding-after: 0px;
    -ms-padding-start: 0px;
    -ms-padding-end: 0px;
    /*reset Opera user agent styles*/
    -o-margin-before: 0px;
    -o-margin-after: 0px;
    -o-margin-start: 0px;
    -o-margin-end: 0px;
    -o-padding-before: 0px;
    -o-padding-after: 0px;
    -o-padding-start: 0px;
    -o-padding-end: 0px;
}


/* -------------------------------------
General styles (General Module, wrapping around the modules below)
(the styles used everywhere in the page (like the Body) or styles which are used in more than 2 of the modules below (h2, h3, h4, h5, h6, p, a, ul, li))
*/

body {
    text-align: center;
    font-size: 13px;
    color: rgb(241, 241, 241);
}

h2,
p,
ul {
    text-align: left;
}

h1,
h2,
.account-options,
.register-sop {
    font-family: 'Cormorant Garamond', serif;
}

h2 {
    font-size: 1.75rem;
    padding-bottom: 1rem;
}

h3,
h5 {
    font-size: 1.25rem;
}

h3 {
    text-align: left;
}

h4 {
    font-size: 1rem;
    padding-top: 1rem;
}

h5 {
    display: inline-block;
    margin-top: .2rem;
    margin-left: .5rem;
}

p {
    font-size: 1.25rem;
}

ul {
    list-style-position: inside;
}

/* -------------------------------------
Header styles (Main Module)
(all the styles inside the < header > or < nav > tags)
*/

h1 {
    font-size: 2.5rem;
    padding: 2rem 0;
}

header {
    width: 100%;
    background-image: url("/images/header.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.nav-options {
    text-align: center;
}

nav ul li {
    display: inline-block;
    width: 15%;
    font-size: 1.2rem;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: rgb(204, 197, 197);
}

nav a:hover {
    color: white;
    font-weight: bold;
}

#sign-in-sop,
#register-new-sop {
    display: inline-block;
    color: rgb(241, 241, 241);
}

.create-account {
    color: #9dcde8;
    text-decoration: none;
}

.create-account:hover {
    color: white;
}

.account-options,
.register-sop {
    display: inline-block;
    font-size: 1rem;
    padding-left: 1rem;
}

/* -------------------------------------
Content styles (Main Module)
(all the styles inside the < sections > or < aside > tags)
*/

main {
    width: 100%;
    margin: .15rem 0;
}

.why-sop,
.assignment,
.guided,
.questions-wrapper,
.review-answers,
.questions-review,
.create-sop,
.template-sop,
.list-goals,
.purpose {
    padding: 2rem;
}

section,
div {
    font-family: 'Open Sans', sans-serif;
}

input,
textarea,
.purpose {
    font-family: 'Bad Script', cursive;
}

input,
textarea {
    letter-spacing: 2px;
    border-radius: 5px;
    padding: 0 1rem;
    margin: .25rem 0;
}

.sign-in input,
.register input {
    width: 150px;
}

.vb-questions-margin {
    margin-top: 1rem;
}

.answer {
    margin-bottom: 1rem;
}

#sop-description-info,
#questions,
#review,
#create,
#create-with-template,
.save-sop,
.purpose {
    background-color: rgb(14, 136, 136);
}

.purpose h2 {
    text-align: center;
}

.purpose {
    border: 1rem solid white;
}

strong {
    font-size: 2rem;
}

.get-started-page,
#sign-in-sop,
#register-new-sop,
#create-goals,
#values-beliefs-goals {
    background-color: rgb(86, 139, 86);
}

button,
.register-button {
    padding: .25rem .5rem;
    margin-top: 1.5rem;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    text-shadow: .25px .25px grey;
    color: rgb(14, 136, 136);
}

.register-button,
.create-sop-button,
.use-template-button,
.save-button {
    width: 225px;
}

.register-button {
    margin-top: 0;
    width: 150px;
    padding-left: 1rem;
}

.login-button {}

.create-sop {
    text-align: center;
}

textarea {
    width: 100%;
    padding: .5rem 1rem;
    font-size: 1.14rem;
}

.answer-text {
    height: 100px;
}

input {
    width: 500px;
}

#values-beliefs-goals h2 {
    text-align: center;
}

#values-beliefs-goals {
    padding: 1rem 10rem;
}

.values,
.beliefs,
.goals {
    position: relative;
    font-size: 1.2rem;
}

.beliefs {
    margin: 0 8rem;
}

.edit-goals-form,
.edit-beliefs-form,
.edit-values-form {
    position: absolute;
    border: 1px solid gray;
    float: right;
    top: -27px;
    right: 22px;
}


/*******************all image styles apart from header*********************/

.image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.sop-description-image {
    background-image: url("/images/description-info.jpg");
}

.questions-image {
    background-image: url("/images/questions.jpg");
}

.create-sop-image {
    background-image: url("/images/create-sop.jpeg");
}

.create-goals-image {
    background-image: url("/images/create-goals-image.jpg");
}

.completed-sop-image {
    background-image: url("/images/completed-sop-image.jpg");
}



/* -------------------------------------
Footer styles (Main Module)
(all the styles inside the < footer > tag)
*/

footer {
    font-family: 'Cormorant Garamond', serif;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    background-color: rgb(42, 87, 113);
    font-size: 2rem;
    text-align: center;
}

footer p {
    display: inline-block;
    font-size: 1rem;
    color: rgb(241, 241, 241);
}

footer a {
    color: rgb(86, 139, 86);
    text-decoration: none;
}

footer a:hover {
    color: rgb(208, 177, 152);
}

/* -------------------------------------
place all the desktop styles above this line
Responsive styles
(the very last module in the CSS, contains all the media queries and it is dealing with the compatibility with mobiles and tablets)
place all the mobile tables styles below this line
*/

@media only screen and (max-width: 1450px) {
    .values-beliefs-goals {
        padding: 1rem 2rem;
    }
    .beliefs {
        margin: 0 4rem;
    }

    .edit-goals-form,
    .edit-beliefs-form,
    .edit-values-form {
        right: 5px;
    }
}


@media only screen and (max-width: 800px) {

    h2 {
        font-size: 2rem;
    }

    div .beliefs ul,
    body,
    main,
    h3,
    h4,
    input {
        font-size: 1rem;
    }

    nav {
        padding-bottom: 1rem;
    }

    h5 {
        text-align: center;
    }

    h5,
    nav ul li {
        display: block;
        width: 100%;
        margin: .5rem auto;
    }

    div {
        padding: .75rem;
    }

    .values-beliefs-goals {
        padding: 0 8rem;
    }

    .values,
    .beliefs,
    .goals {
        padding: 1rem 1rem;
    }

    .beliefs {
        margin: 0;
    }

    .edit-goals-form,
    .edit-beliefs-form,
    .edit-values-form {
        top: 0px;
    }
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 2rem;
        padding: 1rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    .values-beliefs-goals {
        padding: 0 2rem;
    }

}
